Data/npy_datas/
Data/old_npydata/
Data/testVid/
Data/npy_datav2/
Data/leftword/
Data/api.py
Data/ri4.py
Data/server.py
Data/checkmode.py
Data/v2/server.py
Data/__pycache__/
Data/raw_videos/
*.pyc
__pycache__/
.DS_Store
venv/